<menu-button></menu-button>

<div class="container fade-in-animation">
  <div class="row">
    <div class="col-xs-12">
      <div class="page-header no-border">
        <h1 class="center-align underline">Contact</h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 margin-bottom-md">
      <div class="col-xs-12 center-align">
        <h2>
          <strong>
            Greg
          </strong>
        </h2>
        <h3>
          07971378142<br>
          <a href="mailto:greg@gregjoy.co.uk">greg@gregjoy.co.uk</a>
        </h3>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 margin-bottom-md">
      <div class="col-xs-12 center-align">
        <h2>
          <strong>
            Mel
          </strong>
        </h2>
        <h3>
          07810798546<br>
          <a href="mailto:melissastephaniewilson@gmail.com">melissastephaniewilson@gmail.com</a>
        </h3>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 margin-bottom-md">
      <div class="col-xs-12 center-align">
        <h2>
          <strong>
            Our address
          </strong>
        </h2>
        <h3>
          1 Marjoram Close,
          <br>
          Blackbird Leys,
          <br>
          Oxford,
          <br>
          OX4 6QQ
        </h3>
      </div>
    </div>
  </div>
</div>

<footer></footer>
