<menu-button></menu-button>

<div class="container fade-in-animation">
  <div class="row">
    <div class="col-xs-12">
      <div class="page-header no-border">
        <h1 class="center-align underline">Gifts</h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <p class="font-size-lg center-align">
        We do not expect gifts from our friends and family and merely request your attendance to share our special day with us. However, there is a gift list of some pieces that we would be very appreciative of receiving.
        <br>
        <a href="http://www.amazon.co.uk/registry/wedding/5DEYEB8QT7A2">
          Amazon Wish List
        </a>
      </p>
    </div>
  </div>
</div>

<footer></footer>
