<menu-button></menu-button>

<div class="container fade-in-animation">
  <div class="row">
    <div class="col-xs-12">
      <div class="page-header no-border">
        <h1 class="center-align underline">
          Venue
        </h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h1>
        Hawkwell House Hotel
      </h1>
    </div>
  </div>

  <div class="row font-size-md">
    <div class="col-xs-12 col-md-6">
      <p>
        <a href="http://www.hawkwellhouse.co.uk/">
          http://www.hawkwellhouse.co.uk/
        </a>
        <br>
        <br>
        Hawkwell House Hotel is situated in Iffley Village, just a short walk from the Iffley Road in East Oxford. This charming bed and breakfast hotel boasts of 72 rooms and is the venue that the wedding is being held at. Book on the website or call the number listed to secure a room that is right at the heart of the party.
        <br>
        <br>
        Near the Iffley Lock in East Oxford, Hawkwell House Hotel is tucked away in the quiet, leafy Iffley Village with grand gardens and beautiful scenery.
      </p>

      <h2>
        Directions
      </h2>

      <h3>
        From the South
      </h3>

      <p>
        Take Junction 8 from the M40 onto the A40 for Oxford and follow the A40 to the Headington Roundabout. Take the first exit from this roundabout, signposted towards Cowley. Follow the dual carriageway until you reach the Littlemore Roundabout. Turn right (third exit) signposted for Rosehill and Iffley.
      </p>

      <h3>
        From the North
      </h3>

      <p>
        Take Junction 9 from the M40 and follow the A34 to Hinksey Hill Interchange signposted for Oxford and Cowley. Keep following the signs for Cowley until you reach the Littlemore Roundabout. Turn left (first exit) signposted for Rosehill and Iffley.
      </p>

      <h3>
        To Hawkwell
      </h3>

      <p>
        Once you have turned left towards Iffley:
        <br>
        Follow the road for about a mile, passing shops on your left. Go down the hill, round a corner to your left. On reaching the traffic lights, go straight ahead. Take the first road on your left, Iffley Turn. At the mini roundabout go straight ahead on to Church Way and Hawkwell House is on your left.
      </p>

      <h3>
        Address
      </h3>

      <p>
        Hawkwell House Hotel<br>
        Church Way<br>
        Iffley Village<br>
        Oxford<br>
        OX4 4DZ<br>
      </p>

    </div>
    <div class="col-xs-11 col-md-6 margin-top-sm">
      <div i-frame-stretch src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2471.0527248235726!2d-1.2359076842081473!3d51.732070979672656!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4876c131c54c961d%3A0x3e1282b72005a5c8!2sHawkwell+House+Hotel!5e0!3m2!1sen!2suk!4v1453156332027" height="400"></div>
    </div>
  </div>
</div>

<footer></footer>
