<menu-button></menu-button>

<div class="container fade-in-animation">
  <div class="row">
    <div class="col-xs-12">
      <div class="page-header no-border">
        <h1 class="center-align underline">Gifts</h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <p>
        We do not expect gifts from our friends and family and merely request your attendance to share our special day with you. However, there is a gift list of some pieces that we would be very appreciative of receiving.
        <br>
        As we already live together in a rented house, we have all the bare necessities. Our next adventure in life is to finally have enough to put a deposit down on a house and move into somewhere we can call our own. Any contributions towards a deposit for a house would be very much appreciated! 
      </p>
    </div>
  </div>
</div>

<footer></footer>
