<menu-button></menu-button>

<div class="container fade-in-animation">
  <div class="row">
    <div class="col-xs-12">
      <div class="page-header no-border">
        <h1 class="center-align underline">Schedule</h1>
      </div>
    </div>
  </div>

  <div class="row font-size-lg panel-menu">
    <div class="col-xs-12 col-sm-6 col-md-4 col-sm-offset-4 panel-box border-bottom">
      <strong>13:00 -</strong> Wedding Ceremony
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-sm-offset-4 panel-box border-bottom">
      <strong>13:30 -</strong> Photos, arrival drinks
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-sm-offset-4 panel-box border-bottom">
      <strong>15:00 -</strong> Guest seated
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-sm-offset-4 panel-box border-bottom">
      <strong>15:15 -</strong> Wedding Breakfast
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-sm-offset-4 panel-box border-bottom">
      <strong>16:00 -</strong> Speeches/Toastes
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-sm-offset-4 panel-box border-bottom">
      <strong>18:00 -</strong> Evening Reception
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-sm-offset-4 panel-box border-bottom">
      <strong>18:25 -</strong> Cake Cutting
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-sm-offset-4 panel-box border-bottom">
      <strong>18:30 -</strong> First Dance
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-sm-offset-4 panel-box">
      <strong>20:30 -</strong> Evening Buffet
    </div>

  </div>


<footer></footer>
