<menu-button></menu-button>

<div class="container fade-in-animation">
  <div class="row">
    <div class="col-xs-12">
      <div class="page-header no-border">
        <h1 class="center-align underline">venue</h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="page-header no-border">
        <h1 class="center-align underline">venue</h1>
      </div>
    </div>
  </div>
</div>


Near the Iffley Lock in East Oxford, Hawkwell House Hotel is tucked away in the quiet, leafy Iffley Village with grand gardens and beautiful scenery. 

- http://www.hawkwellhouse.co.uk/
- Travel Info
- Directions
- Park and Ride
- Trains

We recently gained another train station in Oxford, if you are traveling from London, Milton Keynes or the Midlands this station may be more convenient for you. information can be found below:

https://en.wikipedia.org/wiki/Oxford_Parkway_railway_station

This is right next to Water Eaton Park and Ride where the 500 bus can be caught from to go towards the centre of Oxford.

If you are travelling from anywhere else in the country, the regular Oxford Train station might well be the right one for you. You can catch the number 3 bus towards Rose Hill which will stop just after Iffley Village. Please follow the directions to the venue as given above. 

Number 3 bus timetable:

http://city.oxfordbus.co.uk/timetables-fares/city3#timetable

There are also regular taxis that wait outside of both train stations, these will be a lot more expensive than using the local bus services. 


<footer></footer>
