<!DOCTYPE html>

<html>

  <head>

    <meta charset="utf-8">
    <title>Greg & Mel 2015</title>

    <meta name="description" content="">
    <meta name="author" content="Greg Joy">

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_link_tag 'application', :media => "all" %>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,600,300' rel='stylesheet' type='text/css'>

  </head>

  <body ng-cloak ng-app="wedding">

    <div class="fluid-container" ng-view></div>

    <%= javascript_include_tag "application" %>
  </body>

</html>
