<!DOCTYPE html>

<html>

  <head>

    <meta charset="utf-8">
    <title>Overseer</title>

    <meta name="description" content="">
    <meta name="author" content="Greg Joy">

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700' rel='stylesheet' type='text/css'>

  </head>

  <body>

    <%= yield %>

    <%= csrf_meta_tags %>
  </body>

</html>

